# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/
dist/

# VS Code
.vscode/

# Env
.env

# Logs
*.log

# SQLite
*.db

# Alembic
*.pyc

# OS
.DS_Store
Thumbs.db

# TypeScript build cache
frontend/tsconfig.tsbuildinfo
